<div class="container d-flex">
  <div class="col-4 pe-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{customer?.companyName}}</h5>
        <p class="card-text">{{customer?.state}}, {{customer?.country}}, {{customer?.zip}}</p>
        <div class="btn-group d-flex">
          <button class="btn btn-warning" (click)="selectTab('Orders')">Orders</button>
          <button class="btn btn-primary" (click)="selectTab('Invoices')">Invoices</button>
        </div>
        <div class="btn-group d-flex mt-4">
          <button type="submit" class="btn btn-secondary" (click)="triggerEdit()">Edit Customer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <tabset [justified]="true" #customerTabs>
      <tab heading="Details" (selectTab)="onTabActivated($event)">
        <form class="row g-3 mt-3" id="customerForm" [formGroup]="customerForm" (ngSubmit)="updateCustomer()" *ngIf="customer != undefined">
          <div class="col-md-6">
            <label for="companyName" class="form-label">Company Name</label>
            <input name="companyName" formControlName="companyName" type="text" class="form-control" id="companyName" placeholder="Legal company name">
          </div>

          <div class="col-md-6">
            <label for="taxId" class="form-label">TaxID</label>
            <input name="taxId" formControlName="taxId" type="text" class="form-control" id="taxId" placeholder="DE123456789 or equivalent if required">
          </div>

          <div class="col-md-6">
            <label for="contactPerson" class="form-label">Contact Person</label>
            <input name="contactPerson" formControlName="contactPerson" type="text" class="form-control" id="contactPerson" placeholder="John Doe">
          </div>

          <div class="col-md-6">
            <label for="telephone" class="form-label">Landline</label>
            <input name="telephone" formControlName="telephone" type="tel" class="form-control" id="telephone" placeholder="+30-12345-67890">
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input name="email" formControlName="email" type="email" class="form-control" id="email" placeholder="info@example.com">
          </div>

          <div class="col-md-6">
            <label for="mobile" class="form-label">Mobile</label>
            <input name="mobile" formControlName="mobile" type="tel" class="form-control" id="mobile" placeholder="+30-12345-67890">
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input name="address" formControlName="address" type="text" class="form-control" id="address" placeholder="Apartment, studio, or floor">
          </div>

          <div class="col-md-3">
            <label for="city" class="form-label">City</label>
            <input name="city" formControlName="city" type="text" class="form-control" id="city">
          </div>

          <div class="col-md-3">
            <label for="state" class="form-label">State</label>
            <input name="state" formControlName="state" type="text" class="form-control" id="state">
          </div>

          <div class="col-md-4">
            <label for="country" class="form-label">Country</label>
            <select name="country" formControlName="country" id="country" class="form-select">
              <option selected hidden>Choose...</option>
              <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
          </div>

          <div class="col-md-2">
            <label for="zip" class="form-label">Zip</label>
            <input name="zip" formControlName="zip" type="text" class="form-control" id="zip">
          </div>

          <div class="col-12">
            <label for="shippingAddress" class="form-label">Shipping Address</label>
            <input name="shippingAddress" formControlName="shippingAddress" type="text" class="form-control" id="shippingAddress" placeholder="123 Main Street, Building 4A, Downtown, USA, NY 12345">
          </div>

          <div class="input-group">
            <span class="input-group-text">Comments</span>
            <textarea name="comments" formControlName="comments" class="form-control" aria-label="With textarea"></textarea>
          </div>
          <div *ngIf="canEdit">
            <hr>
            <button type="submit" class="btn btn-success mb-5" style="width: 6rem;">Save</button>
          </div>
        </form>
      </tab>

      <tab heading="Invoices" (selectTab)="onTabActivated($event)">
        <table class="table mt-3 text-center align-middle table-bordered">
          <thead>
          <tr>
            <th scope="col" style="width: 5%;">A/O #</th>
            <th scope="col" style="width: 5%">Invoice #</th>
            <th scope="col" style="width: 30%">Date Issued</th>
            <th scope="col" style="width: 30%">Issued by</th>
            <th scope="col" style="width: 30%">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr routerLink="/">
            <th scope="row">1</th>
            <td>83#</td>
            <td>10/02/2023</td>
            <td>Theodosis</td>
            <td>Unpaid</td>
          </tr>
          <tr routerLink="/login">
            <th scope="row">1</th>
            <td>83#</td>
            <td>10/02/2023</td>
            <td>Theodosis</td>
            <td>Unpaid</td>
          </tr>
          </tbody>
        </table>
      </tab>

      <tab heading="Orders" (selectTab)="onTabActivated($event)">
        <table class="table mt-3 text-center align-middle table-bordered">
          <thead>
          <tr>
            <th scope="col" style="width: 5%;">A/O #</th>
            <th scope="col" style="width: 5%">Invoice #</th>
            <th scope="col" style="width: 30%">Date Issued</th>
            <th scope="col" style="width: 30%">Issued by</th>
            <th scope="col" style="width: 30%">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr routerLink="/order/:id">
            <th scope="row">1</th>
            <td>83#</td>
            <td>10/02/2023</td>
            <td>Theodosis</td>
            <td>Unpaid</td>
          </tr>
          <tr routerLink="/order/:id">
            <th scope="row">1</th>
            <td>83#</td>
            <td>10/02/2023</td>
            <td>Theodosis</td>
            <td>Unpaid</td>
          </tr>
          </tbody>
        </table>
      </tab>
    </tabset>


  </div>
</div>
