<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Theodosis INC</h1>
    </div>
    <div class="col text-end">
      <p>Invoice #: 123<br>Created: January 1, 2015<br>Due: February 1, 2015</p>
    </div>
  </div>

  <div class="row">
    <div class="col text-start">
      <p>Sparksuite, Inc.<br>12345 Sunny Road<br>Sunnyville, TX 12345</p>
    </div>
    <div class="col text-end">
      <p>Acme Corp.<br>John Doe<br>john@example.com</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-6">Payment Method</div>
    <div class="col-6 text-end">Check #</div>
  </div>

  <div class="row">
    <div class="col-6">Check</div>
    <div class="col-6 text-end">1000</div>
  </div>
  <hr>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-start" scope="col">#</th>
      <th class="" scope="col">Product</th>
      <th class="text-end" scope="col">Quantity</th>
      <th class="text-end" scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th class="text-start" scope="row">1</th>
      <td>Mark</td>
      <td class="text-end">Otto</td>
      <td class="text-end">@mdo</td>
    </tr>
    <tr>
      <th class="text-start" scope="row">2</th>
      <td>Mark</td>
      <td class="text-end">Otto</td>
      <td class="text-end">@mdo</td>
    </tr>
    <tr>
      <th class="text-start" scope="row">3</th>
      <td>Mark</td>
      <td class="text-end">Otto</td>
      <td class="text-end">@mdo</td>
    </tr>
    </tbody>
  </table>

  <div class="text-end my-1">Subtotal: $105.00</div>
  <div class="text-end my-1">Shipping Fees: $280.00</div>
  <div class="text-end my-1">Tax Rates: $38.50</div>
  <div class="display-6 my-1 text-end">Total: $423.50</div>
</div>
