
<p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }"
         #dt1
         [globalFilterFields]="['id', 'companyName', 'email', 'country']"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="key1">
        <div class="flex align-items-center">
          {{keyDisplay1}}
          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
        </div>
      </th>
      <th *ngIf="key2">
        <div class="flex align-items-center">
          {{keyDisplay2}}
          <p-columnFilter type="text" field="companyName" display="menu"></p-columnFilter>
        </div>
      </th>
      <th *ngIf="key3">
        <div class="flex align-items-center">
          {{keyDisplay3}}
          <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
        </div>
      </th>
      <th *ngIf="key4">
        <div class="flex align-items-center">
          {{keyDisplay4}}
          <p-columnFilter type="text" field="country" display="menu"></p-columnFilter>
        </div>
      </th>
      <th *ngIf="key5">
        <div class="flex align-items-center">
          {{keyDisplay5}}
          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
        </div>
      </th>
      <th *ngIf="key6">
        <div class="flex align-items-center">
          {{keyDisplay6}}
          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr routerLink="/customer/{{entity.id}}">
        <td *ngIf="key1">{{ entity[key1] }}</td>
        <td *ngIf="key2">{{ entity[key2] }}</td>
        <td *ngIf="key3">{{ entity[key3] }}</td>
        <td *ngIf="key4">{{ entity[key4] }}</td>
        <td *ngIf="key5">{{ entity[key5] }}</td>
        <td *ngIf="key6">{{ entity[key6] }}</td>
    </tr>
  </ng-template>
</p-table>
