<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand font-monospace" href="#">DotInvoice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>


        <div class="btn-group" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-controls="dropdown-customer">
            Customers
          </a>

          <ul id="dropdown-customer" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a routerLink="/customer" class="dropdown-item">
                <strong class="d-block">All</strong>
                <small>View all customers table</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/customer/new" class="dropdown-item">
                <strong class="d-block">Add customer</strong>
                <small>Register a new customer to DB</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/customer/info" class="dropdown-item">
                <strong class="d-block">Another product</strong>
                <small>Explore this other product we offer</small>
              </a>
            </li>

          </ul>
        </div>

        <div class="btn-group" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-controls="dropdown-invoice">
            Invoices
          </a>

          <ul id="dropdown-invoice" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a routerLink="/invoice" class="dropdown-item">
                <strong class="d-block">All</strong>
                <small>View all invoices table</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/invoice/new" class="dropdown-item">
                <strong class="d-block">Create invoice</strong>
                <small>Create a new Invoice</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/invoice/info" class="dropdown-item">
                <strong class="d-block">Another product</strong>
                <small>Explore this other product we offer</small>
              </a>
            </li>

          </ul>
        </div>

        <div class="btn-group" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-controls="dropdown-stock">
            Stock
          </a>

          <ul id="dropdown-stock" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a routerLink="/invoice" class="dropdown-item">
                <strong class="d-block">All</strong>
                <small>View stock table</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/invoice/new" class="dropdown-item">
                <strong class="d-block">Add stock</strong>
                <small>Create a new Invoice</small>
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-group" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-controls="dropdown-products">
            Products
          </a>

          <ul id="dropdown-products" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a routerLink="/invoice" class="dropdown-item">
                <strong class="d-block">All</strong>
                <small>View all products table</small>
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a routerLink="/invoice/new" class="dropdown-item">
                <strong class="d-block">Create product</strong>
                <small>Create a new product</small>
              </a>
            </li>
          </ul>
        </div>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="btn-group ms-3" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-controls="dropdown-account">
          User
        </a>
        <ul id="dropdown-account" *dropdownMenu class="dropdown-menu dropdown-menu-right mt-4"
            role="menu" aria-labelledby="button-basic" data-bs-popper="end">
          <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>


      </div>
    </div>
  </div>
</nav>
