<form #invoiceForm="ngForm">
  <ng-container *ngIf="customerList.length > 0">

  </ng-container><br><br><br>
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Customer Details</h4>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="company">Company</label>
                  <select name="company" id="company" class="form-select" [(ngModel)]="selectedCustomer">
                    <option selected hidden>Choose...</option>
                    <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer.companyName}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="address">Address</label>
                  <input class="form-control" name="address" id="address" row="1" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email ID</label>
                  <input type="email" class="form-control" name="email" id="email" [value]="selectedCustomer?.email" disabled>
                </div>
                <div class="form-group">
                  <label for="contactNo">Phone Number</label>
                  <input type="number" class="form-control" name="contactNo" id="contactNo" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                                                                                        class="btn btn-secondary" (click)="addProduct()">+</button></h4>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th width="30">Product</th>
                  <th width="30">Price</th>
                  <th width="20">Quantity</th>
                  <th width="20" class="text-end">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productsInvoiced; let i=index">
                  <td>
                    <input type="text" class="form-control" name="productName{{i}}" [(ngModel)]="product.name" required>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="price{{i}}" [(ngModel)]="product.price" required (ngModelChange)="calculateTotal(i)">
                  </td>
                  <td>
                    <input type="number" class="form-control" name="quantity{{i}}" [(ngModel)]="product.qty" required (ngModelChange)="calculateTotal(i)">
                  </td>
                  <td class="text-end">
                    <input disabled value="{{ calculateTotal(i) + '€' || '' }}">
                    <button class="btn fa fa-remove" (click)="removeProduct()"></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title">Additional Details</h4>
            <div class="form-group">
              <textarea class="form-control" name="additionalDetails" rows="3" ></textarea>
            </div>
          </div>
        </div>


</form>
